.new-releases {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 340px));
    grid-auto-rows: auto;
    gap: 22px;
    padding-right: 120px;
    justify-content: center;
}

.loading {
    height: 80vh;
    line-height: 80vh;
}


/*NO WORKING*/

.not-work {
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.not-work p {
    font-size: 1.6rem;
    color: #2ecc71;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.not-work .errorService {
    color: #cc0b4f;
}