.section-search-artis {
    margin-bottom: 60px;
}

.search-form {
    width: 80%;
    margin: 0 auto;
}

.search-form .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #272727;
    background-image: url('../../../assets/img/searchgray.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
}

.search-form .search-input:focus {
    background: white;
    color: #000;
}

.search-form .search-input::placeholder {
    color: rgb(145, 145, 145);
}


/*card container*/

.new-artists {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 340px));
    grid-auto-rows: auto;
    gap: 22px;
    justify-content: center;
    padding: 20px 60px;
}