<section class="section-search-artis">
    <form class="search-form">
        <input class="search-input" (keyup)="search(name_artist.value)" type="text" aria-label="search artist" placeholder="Buscar artista.." #name_artist>
    </form>
</section>

<section class="new-artists">
    <div *ngFor="let artist of artists " class="spoti-card">
        <figure class="poster-container">
            <img [src]="artist.images[0].url" alt="">
        </figure>
        <p class="name-artist"> {{artist.name}} </p>
    </div>
</section>